---
title: Fourth Sundays Day in the Word
slug: fourth-sundays-day-in-the-word
created_at: "2012-09-22 12:21"
description: |
  Each fourth Sunday of the month, a &ldquo;Day in the Word&rdquo; Fellowship
  gathering will take place.  There will be two or more Bible studies and one
  Q&amp;A session.
---
%div{:itemscope => "", :itemtype => "http://schema.org/Event"}
  %meta{:content => @item[:title], :itemprop => "name"}/

  %h2 Event Overview
  %p(itemprop="description")
    = @item[:description]

  %h2 Next Meeting Time
  %p
    October 27, 2013 from 9:30 AM to 3:30 PM ET with a break for lunch.
  %meta{:content => "2013-10-27T09:30-0400", :itemprop => "startDate"}/
  %meta{:content => "2013-10-27T15:30-0400", :itemprop => "endDate"}/

  %h2 Location
  %p{:itemprop => "location", :itemscope => "", :itemtype => "http://schema.org/Place"}
    %span{:itemprop => "name"} eBible Fellowship at P.A.C.E. Union Hall
    %span{:itemprop => "address", :itemscope => "", :itemtype => "http://schema.org/PostalAddress"}
      %br
      <span itemprop="description">Address for driving directions:</span>
      <span itemprop="streetAddress">1510 Palmer Drive</span>,
      <span itemprop="addressLocality">Linwood</span>,
      <span itemprop="addressRegion">PA</span>,
      <span itemprop="addressCountry">USA</span>
      %br
      This is where <em>EBible Fellowship</em> has met regularly in the past.  
      %a{:href => "#{base_url}/join/live/directions/", :itemprop => "url"} See these directions.

  %h2 Speakers
  %ul
    %li(itemprop="performer" itemscope="" itemtype="http://schema.org/Person")
      <span itemprop="name">Chris McCann</span>
    %li(itemprop="performer" itemscope="" itemtype="http://schema.org/Person")
      <span itemprop="name">Guy Berry</span>
    %li(itemprop="performer" itemscope="" itemtype="http://schema.org/Person")
      <span itemprop="name">Robert Daniels</span>

  %h2 Schedule
  %ul
    %li(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
      %meta(itemprop="startDate" content="9:30")
      %strong 9:30 AM
      \- 
      %span(itemprop="name") Scripture reading and hymn sing
    %li(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
      %meta(itemprop="startDate" content="10:00")
      %strong 10:00 AM
      \-
      %span(itemprop="name") First Bible Study
    %li(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
      %meta(itemprop="startDate" content="11:00")
      %strong 11:00 AM
      \-
      %span(itemprop="name") Second Bible Study
    %li(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
      %meta(itemprop="startDate" content="12:00")
      %strong 12:00 PM
      \-
      %span(itemprop="name") Lunch
    %li(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
      %meta(itemprop="startDate" content="1:30")
      %strong 1:30 PM
      \- 
      %span(itemprop="name") Questions and Answers
    %li(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
      %meta(itemprop="startDate" content="14:30")
      %strong 2:30 PM
      \-
      %span(itemprop="name") Third Bible Study
  %p
    %em Note:
    Times are approximate.

  %h2 Listening Online and by Phone, etc.
  %p If not attending in person, it should be possible to listen in the following ways:
  %ul
    %li
      Paltalk and web streams
      %a{:href => "#{base_url}/join/broadcasts/"} Broadcasts, Live
    %li
      Phone/Skype conference
      %a{:href => "#{base_url}/join/phone/"} Broadcasts, Phone Information
    %li
      Video stream via
      %a{:href => "http://www.ustream.tv/channel/sunday-bible-studies"} ustream.tv
      may be available on certain Sundays.
    %li
      During the Questions and Answers segment, questions will be taken in-person, or
      via text on Paltalk.

  %h2 Recordings
  %p
    Recordings of the studies and Questions &amp; Answers are normally played 
    later in the day at 7 PM ET, several times on Monday and the following 
    Sunday before the live fellowship.  Please see the 
    %a{:href => "#{base_url}/schedule/"} programming schedule
    for details.  Recordings are also posted to the web site.
